---
BOT_TOKEN:
CHAT_ID:

# Below is for filtering. It's optional.
# Each entry of FILTER_REGIONS is case insensitive.

# Uncomment the following to enable the filter
#MIN_MAG: 0.00
#FILTER_REGIONS:
#- Indonesia
#- Sulawesi
#- Savu
#- Banda
#- Flores
#- Papua
#- Molucca
#- Timor

# Optional, a directory to save sent messages.
#
# If set, the bot will remember sent messages by saving them to a
# file. Good for preventing duplicate messages on restart.
#
# If the directory does not exist, it will be created.
MSG_MEMORY_DIR: ./data/sent_messages
